<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>

    <title>OmniNotes Web</title>

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'includes/css/bootstrap-glyphicons.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'includes/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'includes/css/sidebar.css' %}" rel="stylesheet">
    <link href=" {% static 'includes/css/sidebar-bootstrap.css' %} " rel="stylesheet">
    <link rel="stylesheet" href="{% static 'includes/css/font-awesome.min.css' %}">

    <!-- Include Modernizr in the head, before any other Javascript -->
    <script src="{% static 'includes/js/modernizr-2.6.2.min.js' %}"></script>

  </head>
  <body>

    <!-- The navigation bar-->
    <nav class="navbar navbar-default navbar-fixed-top mainHeader">
      <div class="container-fluid"> 
        <div class="navbar-header">
          <a class="navbar-brand" href="/"> Notes</a>
        </div>
      </div>

      <div  id="icons"> 
		{% block icons %}       {% endblock %}
      </div>
    </nav>
    
    <!-- SIDEBAR -->
    <div data-sidebar="true" class="sidebar-trigger">
      <a class="sidebar-toggle" href="">
        <span class="glyphicon glyphicon-align-justify"></span>
      </a>
      <div class="sidebar-wrapper sidebar-default">
        <div class="sidebar-scroller">
          <ul class="sidebar-menu">
            <li class="sidebar-group"><span>Omni Notes</span>
              <ul class="sidebar-group-menu">
				{% block sidebar_menu %} {%endblock sidebar_menu %}
				{% block sidebar_category %} {%endblock sidebar_category%}
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>
    
    <div class="notification"><span id="message">{% block notification%}{%endblock%}</span> <button class="notification-close" type="button">&times;</button></div>

    <!--end mainHeader -->
    {% block FAB %} {%endblock%}

    <!-- Add note modal -->
    <div class="modal fade " id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="newNoteLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newNoteLabel"><span class="glyphicon glyphicon-pencil"></span>  New Note</h4>
          </div>
          <div class="modal-body">
              <form action='/' method='POST'>
              {% csrf_token %} 
              {{ notes_form.as_p }} 
              <input type="submit" style="width:150px;" value="Submit" class="form-control btn btn-primary" >
              <button class="form-control btn btn-warning" class="close" data-dismiss="modal" style="width:150px;" >Cancel</button >
              </form>
          </div>
        </div>
      </div>
    </div>
        

    <!-- modal for opening note -->
    <div class="modal fade" id="openNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal"> &times;</button>
          <h4 class="modal-title panel-heading"></h4>
         
          </div>
          <div class="modal-body">
          </div>
          
         <span class=""><label>Created:</label><span class="created"></span> <label>Category</label><span class="category"></span></span> 
        </div>
      </div>
    </div>



  <div id="main" class="container-fluid">
    <div class="col-sm-12" id="notesFeed">
        <div class="container" id="main">
              <div class="col-md-12 row notes-container">

				{% block noteContainer%} {% endblock %}


<!-- These are the closing div of main containers  -->
               </div>
        </div>
    </div>
</div>


  <!-- All Javascript at the bottom of the page for faster page loading -->


  <script src="{% static 'includes/js/jquery.min.js' %}"></script>

  <!-- Bootstrap JS -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- Custom JS -->
  <script src="{% static 'includes/js/script.js' %}"></script>
  <script src="{% static 'includes/js/hammer.min.js' %}"></script>
  <script src="{% static 'includes/js/sidebar.js' %}"></script>

  </body>
  <footer class="footer" >
    {% block footer %} {% endblock%}
  </footer>
</html>
