{% extends 'base.html' %}

{% block FAB %} 
	<button class=" btn-danger btn glyphicon glyphicon-plus floating-action-icon" data-container="body" data-toggle="popover" data-placement="left"></button>
{% endblock %}
       
{% block icons %}
{{message}}
{{user}}
        <a class="btn btn-action glyphicon glyphicon-search" data-placement="bottom" data-toggle="tooltip" title="search" ></a>
        <a class="btn btn-action glyphicon glyphicon-sort" data-placement="bottom" data-toggle="tooltip" title="sort" ></a>
        <a class="btn btn-action glyphicon glyphicon-refresh" data-placement="bottom" data-toggle="tooltip" title="refresh" ></a>
        <a class="btn btn-action glyphicon glyphicon-info-sign" data-placement="bottom" data-toggle="tooltip" title="about" ></a>
        <a href="/logout/" class="btn btn-action glyphicon glyphicon-off" data-placement="bottom" data-toggle="tooltip" title="sign out" ></a>
        <a href="/settings/" class="btn btn-action glyphicon glyphicon-cog" data-placement="bottom" data-toggle="tooltip" title="settings"></a>
{% endblock %}

{% block noteContainer %}
		{% for note in  notes%}
		  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
   <div class="panel note-sm">
        <div class="panel-heading"> {{note.title}}<button class="close note-close"> &times;</button></div>
        <hr style="margin:0 0 3px;">
        <div class="panel-body">{{note.content}}</div>
        <div  class="panel-footer" >
          <div class="dropdown pull-right">
          {{note.category}}
            <span class="dd glyphicon glyphicon-time" data-placement="bottom" data-toggle="tooltip" title="{{ note.created }}"></span>
            <span class="dd edit-note" href="#openNoteModal"  data-toggle="modal"> <span class="glyphicon glyphicon-edit" ></span></span>
            <span class="dd open-note" href="#openNoteModal"  data-toggle="modal"> <span class="glyphicon glyphicon-resize-full" ></span></span>
            <span class="dd dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="glyphicon glyphicon-th"></span>
            </span>
            <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href=""><span class="glyphicon glyphicon-share"></span>  Share</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href=""><span class="glyphicon glyphicon-lock"></span> Mask</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href=""><span class="glyphicon glyphicon-inbox"></span>  Archive</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/delete_note/{{note.permalink}}"><span class="glyphicon glyphicon-trash"></span>  Delete</a></li>
            </ul>
          </div>
        </div>
   </div>
 </div>
		 {%endfor%}

{% endblock %}

{%block sidebar_category%}
   {% for category in categories %}
     <li class="sidebar-item">
 
         <span class="glyphicon glyphicon-stop ">  </span>
        			<span class="nav-item">{{category}} (2)
        			     </span>
        			     <button type="button" class="btn whitebutton categorycog " data-toggle="popover" title="properties" data-html='true' data-placement="top" 
        			     data-content="<a class='btn btn-danger' href='/delete_category/{{category.slug}}'>Delete</a><br><br><a class='btn btn-primary' href='/notes/{{category.slug}}'>View</a>"><span class="glyphicon glyphicon-cog">
        			     </span></button>

  
      </li>
   {% endfor%}
{%endblock%}

{% block sidebar_menu %}
              <li class="sidebar-item">
                <a href="{% url 'home' %}" class="active"><span class="glyphicon glyphicon-file"></span> <span class="nav-item">Notes</span></a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'reminders' %}" ><span class="glyphicon glyphicon-time"></span>  <span class="nav-item"> Reminders</span></a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'trash' %}" ><span class="glyphicon glyphicon-trash"></span>  <span class="nav-item"> Trash</span></a>
              </li>
              <li class="sidebar-item">
              <a href=" {% url 'uncategorized' %}">   <span class="glyphicon glyphicon-folder-open"></span> <span class="nav-item">Uncategorized</span></a>
              </li>
              <li class="sidebar-item">
                <h5>Categories <button style="margin-left:127px" id="add_category" class="btn whitebutton glyphicon glyphicon-plus"></button></h5>
              </li>
              <li class="sidebar-item" id="category_form">
              <h5><form action='/' method="POST"> {% csrf_token %} <span class="form-group">{{ category_form.name }} <input type='submit' value='Ok' class='btn btn-primary'></span> </form></h5>
              </li>
{% endblock sidebar_menu %}