{% extends 'base.html' %}

{% block icons %}
  
{% endblock %}


{% block noteContainer %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
   <div class="panel note-md">
        <div class="panel-heading"> Login</div>
        <hr style="margin:0 0 3px;">
        
        <form action="/login/" method="post"> {% csrf_token %}
          {{auth_form.as_p}}
          <input class=" btn btn-primary" type="submit" value="Log in" id="BtnLogin">
        </form>
        

   </div>
 </div>

 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 ">
   <div class="panel note-lg">
        <div class="panel-heading"> Register</div>
        <hr style="margin:0 0 3px;">
        
           <form action="/register/" method="post">
           
           {% csrf_token %}
           
          {{user_form.as_p}}
               <input type="submit" value = "Submit" id="btnSubmit" class=" btn btn-primary">
           </form>
   </div>
 </div>
{% endblock %}

{% block footer%}
	Made in India with <span class="glyphicon glyphicon-heart"></span> by <a href="htp://github.com/thewhitetulip">@thewhitetulip</a>
{% endblock %}

{% block sidebar_menu %}
 Sign up or login to use omninotes
{%endblock sidebar_menu %}