{% extends 'base.html' %}

{% block icons %}
	 <a class="btn btn-action glyphicon glyphicon-search" data-placement="bottom" data-toggle="tooltip" title="search" ></a>
        <a class="btn btn-action glyphicon glyphicon-sort" data-placement="bottom" data-toggle="tooltip" title="sort" ></a>
        <a class="btn btn-action glyphicon glyphicon-refresh" data-placement="bottom" data-toggle="tooltip" title="refresh" ></a>
        <a class="btn btn-action glyphicon glyphicon-info-sign" data-placement="bottom" data-toggle="tooltip" title="about" ></a>
        <a href="/logout/" class="btn btn-action glyphicon glyphicon-off" data-placement="bottom" data-toggle="tooltip" title="sign out" ></a>
        <a href="/settings/" class="btn btn-action glyphicon glyphicon-cog" data-placement="bottom" data-toggle="tooltip" title="settings"></a>
{% endblock %}


{% block FAB %} 
		<button class=" btn-danger btn glyphicon glyphicon-plus floating-action-icon"></button>
{%endblock %}

{% block noteContainer %}
	your settings are here
{% endblock %}